{% extends 'app_main/layout.html' %}


{% block main-nav %}
    {% include 'app_main/main_nav.html' with active_tab='home' %}
{% endblock %}

{% block main-title %}Enunciados{% endblock %}

{% block content %}
    <div class="container">
        <div class="row py-2">
            <h5>Los ejercicios se encuentran resueltos en el archivo /Ejercicios/app_main/functions_and_classes.py</h5>
            <div>Esta intefaz web es un intento por poner en práctica las otras cosas vistas hasta ahora en el curso.</div>
        </div>

        <div class="row py-2">
            <h5 class="bg-body-tertiary border py-1">Ejercicio 1</h5>
            <div>Escribir una función que calcule el máximo común divisor entre dos números.</div>
            <div><a href="{% url 'mcd' %}" class="w-auto">Resolución</a></div>
        </div>

        <div class="row py-2">
            <h5 class="bg-body-tertiary border py-1">Ejercicio 2</h5>
            <div>Escribir una función que calcule el mínimo común múltiplo entre dos números</div>
            <div><a href="{% url 'mcm' %}" class="w-auto">Resolución</a></div>
        </div>

        <div class="row py-2">
            <h5 class="bg-body-tertiary border py-1">Ejercicio 3</h5>
            <div>Escribir un programa que reciba una cadena de caracteres y devuelva un diccionario con cada palabra que contiene y la cantidad de veces que aparece (frecuencia).</div>
            <div><a href="{% url 'contar_palabras' %}" class="w-auto">Resolución</a></div>
        </div>

        <div class="row py-2">
            <h5 class="bg-body-tertiary border py-1">Ejercicio 4</h5>
            <div>Escribir una función que reciba una cadena de caracteres y devuelva un diccionario con cada palabra que contiene y la cantidad de veces que aparece (frecuencia). Escribir otra función que reciba el diccionario generado con la función anterior y devuelva una tupla con la palabra más repetida y su frecuencia.</div>
            <div><a href="{% url 'palabra_popular' %}" class="w-auto">Resolución</a></div>
        </div>

        <div class="row py-2">
            <h5 class="bg-body-tertiary border py-1">Ejercicio 5</h5>
            <div>Sabiendo que ValueError es la excepción que se lanza cuando no podemos convertir una cadena de texto en su valor numérico, escriba una función get_int() que lea un valor entero del usuario y lo devuelva, iterando mientras el valor no sea correcto. Intente resolver el ejercicio tanto de manera iterativa como recursiva.</div>
            <div><a href="{% url 'value_error' %}" class="w-auto">Resolución</a></div>
        </div>

        <div class="row py-2">
            <h5 class="bg-body-tertiary border py-1">Ejercicio 6</h5>
            <div>Crear una clase llamada Persona. Sus atributos son: nombre, edad y DNI. Construya los siguientes métodos para la clase:
                <ul>
                    <li>Un constructor, donde los datos pueden estar vacíos.</li>
                    <li>Los setters y getters para cada uno de los atributos. Hay que validar las entradas de datos.</li>
                    <li>mostrar(): Muestra los datos de la persona.</li>
                    <li>Es_mayor_de_edad(): Devuelve un valor lógico indicando si es mayor de edad.</li>
                </ul>
            </div>
            <div><a href="{% url 'persona' %}" class="w-auto">Resolución</a></div>
        </div>

        <div class="row py-2">
            <h5 class="bg-body-tertiary border py-1">Ejercicio 7</h5>
            <div>Crea una clase llamada Cuenta que tendrá los siguientes atributos: titular (que es una persona) y cantidad (puede tener decimales). El titular será obligatorio y la cantidad es opcional. Crear los siguientes métodos para la clase:
                <ul>
                    <li>Un constructor, donde los datos pueden estar vacíos.</li>
                    <li>Los setters y getters para cada uno de los atributos. El atributo no se puede modificar directamente, sólo ingresando o retirando dinero.</li>
                    <li>mostrar(): Muestra los datos de la cuenta.</li>
                    <li>ingresar(cantidad): se ingresa una cantidad a la cuenta, si la cantidad introducida es negativa, no se hará nada.</li>
                    <li>retirar(cantidad): se retira una cantidad a la cuenta. La cuenta puede estar en números rojos.</li>
                </ul>
                </div>
            <div><a href="{% url 'cuenta' %}" class="w-auto">Resolución</a></div>
        </div>

        <div class="row py-2">
            <h5 class="bg-body-tertiary border py-1">Ejercicio 8</h5>
            <div>8. Vamos a definir ahora una “Cuenta Joven”, para ello vamos a crear una nueva clase CuantaJoven que deriva de la clase creada en el punto 7. Cuando se crea esta nueva clase, además del titular y la cantidad se debe guardar una bonificación que estará expresada en tanto por ciento. Crear los siguientes métodos para la clase:
                <ul>
                    <li>Un constructor.</li>
                    <li>Los setters y getters para el nuevo atributo.</li>
                    <li>En esta ocasión los titulares de este tipo de cuenta tienen que ser mayor de edad, por lo tanto hay que crear un método es_titular_valido() que devuelve verdadero si el titular es mayor de edad pero menor de 25 años y falso en caso contrario.</li>
                    <li>Además, la retirada de dinero sólo se podrá hacer si el titular es válido.</li>
                    <li>El método mostrar() debe devolver el mensaje de “Cuenta Joven” y la bonificación de la cuenta.</li>
                </ul>
            </div>
            <div><a href="{% url 'cuenta_joven' %}" class="w-auto">Resolución</a></div>
        </div>
    </div>
{% endblock %}